.gpt3__features-container_feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  margin: 1rem;
}
.gpt3__features-container_feature-now {
  flex: 1;
  min-width: 180px;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
}
.gpt3__features-container_feature-now h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.gpt3__features-container_features-title div {
  width: 38px;
  height: 3px;

  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}
.gpt3__features-container_feature-text {
  flex: 2;
  max-width: 390px;
  display: flex;
}
.gpt3__features-container_feature-text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 187% */

  color: var(--color-text);
}
@media screen and (max-width: 550px) {
  .gpt3__features-container_feature-now h1 {
    font-size: 14px;
    line-height: 22px;
  }
  .gpt3__features-container_feature-now p {
    font-size: 12px;
    line-height: 20px;
  }
  .gpt3__features-container_feature {
    margin: 1rem 0;
  }
}
